*::-webkit-input-placeholder {
	color: #fff;
	opacity: 1;
}
*:-moz-placeholder {
	color: #fff;
	opacity: 1;
}
*::-moz-placeholder {
	color: #fff;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #fff;
	opacity: 1;
}

body input:focus:required:invalid,
body textarea:focus:required:invalid {
	
}
body input:required:valid,
body textarea:required:valid {
	
}
body {
	font-family: 'Onest';
	font-size: 16px;
	line-height: 160%;
	overflow-x: hidden;
	margin: 0;
	color: #141414;
	letter-spacing: 0.03em;

	background-color: #fff;
}
button {
	cursor: pointer;
}
button, input, optgroup, select, textarea {
	font-family: inherit;
}
input {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}
button,
textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"] {
  -webkit-appearance: none;
}
a, button, input, img {
	transition: all 0.3s;
}
h1,h2,h3,h4,h5,h6 {
	padding: 0;
	margin: 0;
	font-weight: normal;
}
.wrapper {
	padding-left: 345px;
	padding-right: 5px;
	overflow: hidden;
}
a {
	text-decoration: none;
	outline: none;
}
* {
	outline: none !important;
}
ul {
	padding: 0;
	margin: 0;
}
ul li {
	list-style-type: none;
	outline: none;
}
img {
	outline: none;
	display: block;
}
p {
	padding: 0;
	margin: 0;
}
form {
	margin: 0;
}

.header {
	left: 340px;
	position: absolute;
	z-index: 100;
	top: 0;
	right: 5px;
	backdrop-filter: blur(20px);
	background: rgba(43, 45, 66, 0.6);
	border-radius: 0 0 24px 0;
	color: #fff;
	transition: all 0.3s;
}
.header__wrapper {
	display: flex;
	align-items: center;
}
.header__item {
	font-size: 14px;
	flex-grow: 1;
}
.header__item strong {
	font-weight: 500;
}
.header__item a {
	color: #fff;
}
.header-search {
	margin-right: 32px;
	display: flex;
	align-items: center;
	position: relative;
}
.header-search form {
	width: 0;
	top: 0;
	right: 100%;
	overflow: hidden;
	position: absolute;
	transition: all 0.2s;
}
.header-search.active form {
	width: 780px;
} 
.header-search.active .open-search i::before {
	content: "\f00d";
}
.header-search input {
	height: 80px;
	padding: 0 15px;
	font-size: 16px;
	font-family: 'Onest';
	width: 100%;
	color: #fff;
	background: #2b2d42;
	border: 1px solid rgba(237, 242, 244, 0.2);
}
.btn-search {
	top: 0;
	right: 0;
	margin: 0;
	border: none;
	position: absolute;
}
.btn-search,
.open-search {
	width: 104px;
	height: 80px;
	font-size: 18px;
	border-left: 1px solid rgba(237, 242, 244, 0.2);
	border-right: 1px solid rgba(237, 242, 244, 0.2);
	cursor: pointer;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
	background: transparent;
}
.header-search *::-webkit-input-placeholder {
	color: #fff;
}
.header-search *:-moz-placeholder {
	color: #fff;
}
.header-search *::-moz-placeholder {
	color: #fff;
}
.header-search *:-ms-input-placeholder {
	color: #fff;
}
.btn-search {
	border: none;
}
.messengers-block {
	font-size: 12px;
	line-height: 15px;
	padding: 10px 22px;
	font-weight: 500;
	border: 1px solid rgba(237, 242, 244, 0.2);
	border-radius: 60px;
	color: #fff;
	display: inline-flex;
	align-items: center;
	flex: none;
}
.messengers-block p {
	max-width: 105px;
	margin-right: 16px;
}
.list-socials {
	display: flex;
	align-items: center;
}
.list-socials li {
	margin-right: 8px;
}
.list-socials li:last-child {
	margin-right: 0;
}
.phone-main {
	font-size: 20px;
	margin-left: 11px;
	font-weight: 500;
	text-transform: uppercase;
	color: #fff;
}

.header.fixed ~ .sidebar {
	background: #2b2d42;
}
.sidebar {
	width: 340px;
	z-index: 800;
    height: 100%;
	top: 0;
	left: 0;
    overflow: auto;
    backdrop-filter: blur(20px);
	background: rgba(141, 153, 174, 0.3);
    position: fixed;
    color: #fff;
	transition: all 0.5s;
}
.sidebar::-webkit-scrollbar {
	-webkit-appearance: none;
}
.sidebar::-webkit-scrollbar:vertical {
	width: 5px;
}
.sidebar::-webkit-scrollbar:horizontal {
	height: 5px;
}
.sidebar::-webkit-scrollbar-thumb {
	background-color: #000;
	border-radius: 10px;
}
.sidebar::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: #ccc;
}
.sidebar__block {
	padding: 19px 74px;
	padding-right: 22px;
	border-bottom: 1px solid rgba(237, 242, 244, 0.2);
}
.logo img {
	width: 191px;
	height: auto;
	display: block;
}
.logo-descr {
	margin-top: 4px;
	font-size: 14px;
	line-height: 18px;
	max-width: 187px;
}
.sidebar__block:last-child,
.sidebar__block:first-child {
	padding-top: 35px;
	padding-bottom: 35px;
}
.nav li ul {
	display: none;
}
.nav li ul li {
	margin-bottom: 10px;
}
.nav li ul a {
	color: #fff;
}
.nav > li > a {
	font-size: 18px;
	line-height: 189%;
	letter-spacing: 0.03em;
	font-weight: 500;
	text-transform: uppercase;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-family: 'Oswald';
	position: relative;
}
.nav > li > a::after {
	font-size: 12px;
	-moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
	font-family: "Font Awesome 5 Pro";
	font-weight: 400;
	content: "\f078";
	transition: all 0.3s;
}
.nav > li.active > a::after {
	transform: rotate(180deg);
}
.btn-social:hover,
.menu a:hover,
.nav > li > a:hover,
.nav li ul li a:hover {
	color: #ef233c;
}
.menu {
	line-height: 187%;
	text-transform: uppercase;
	font-family: 'Oswald';
}
.menu a {
	color: #fff;
}
.btn-social {
	font-weight: 600;
	font-size: 18px;
	font-weight: 600;
	color: #fff;
	font-family: 'Oswald';
	text-transform: uppercase;
	display: inline-flex;
	align-items: center;
}
.btn-social img {
	margin-right: 9px;
}
.btn-social i {
	margin-left: 10px;
	transform: rotate(-45deg);
}

.billbord {
	margin-left: -345px;
	padding-left: 345px;
	background-image: url(../img/billbord.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: #fff;
}
.billbord__content {
	padding-bottom: 31px;
	padding-top: 100px;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.title-big {
	font-size: 70px;
	margin-bottom: 59px;
	max-width: 770px;
	line-height: 130%;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	font-family: 'Oswald';
	font-weight: 500;
}
.btn-main {
	height: 56px;
	font-size: 16px;
	padding: 0 50px;
	border-radius: 60px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: #fff;
	font-weight: 500;
	font-family: 'Oswald';
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	background: linear-gradient(177deg, #ef233c 0%, #d90429 100%);
	transition: all 0.7s;
	border: none;
}
.btn-main:hover {
	box-shadow: 0 5px 15px #ef233c;
}
.item-billbord {
	padding: 20px;
	padding-right: 49px;
	font-size: 18px;
	letter-spacing: 0.03em;
	font-weight: 500;
	backdrop-filter: blur(20px);
	background: rgba(141, 153, 174, 0.4);
	border: 1px solid rgba(237, 242, 244, 0.2);
	border-radius: 16px;
	min-height: 100%;
	display: flex;
	align-items: center;
}
.item-billbord__icon {
	width: 60px;
	height: 60px;
	margin-right: 20px;
	background: rgba(255, 255, 255, 0.2);
	backdrop-filter: blur(20px);
	border-radius: 50%;
	flex: none;
	display: flex;
	align-items: center;
	justify-content: center;
}
.item-billbord__icon img {
	max-width: 100%;
	max-height: 100%;
}
.item-billbord sup {
	font-size: 8px;
	line-height: 0;
}
.billbord__bottom {
	margin-top: auto;
	width: 100%;
}
.billbord__center {
	margin: auto 0;
}

.services {
	padding-top: 53px;
	padding-bottom: 70px;
	background: #edf2f4;
}
.services .title-section {
	margin-bottom: 40px;
}
.title-section {
	font-size: 60px;
	line-height: 89px;
	font-weight: 500;
	margin: 0;
	text-transform: uppercase;
	color: #2b2d42;
	font-family: 'Oswald';
	text-align: center;
}
.tabs-wrap {
	display: flex;
	justify-content: center;
}
.tabs {
	padding: 4px;
	border-radius: 40px;
	background: #2b2d42;
	display: flex;
	align-items: center;
	position: relative;
	z-index: 1;
}
.tabs::before {
    content: "";
    display: block;
    position: absolute;
    top: 4px;
    bottom: 4px;
	border-radius: 40px;
	z-index: -1;
	left: 0;
    width: var(--underline-width);
    transform: translateX(var(--underline-offset-x));
	background: #d90429;
    transition: transform 0.5s, width 0.5s;
}
.tabs a:hover,
.tabs .firstActive a {
    background: #d90429;
}
.tabs li {
	margin-right: 12px;
}
.tabs li:last-child {
	margin-right: 0;
}
.tabs a {
	height: 44px;
	padding: 0 20px;
	text-transform: uppercase;
	color: #fff;
	font-weight: 500;
	border-radius: 40px;
	font-family: 'Oswald';
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.tab-pane {
	display: none;
}
.tab-pane:first-child {
	display: block;
}
.item-service {
	font-size: 14px;
	line-height: 143%;
	color: #2b2d42;
	background-color: #fff;
	border-radius: 24px;
	min-height: 100%;
	display: block;
}
.item-service__image {
	height: 304px;
	border-radius: 24px;
	width: 100%;
	display: block;
}
.item-service__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	border-radius: 24px;
}
.tab-container {
	padding-top: 50px;
}
.item-service strong {
	font-weight: 600;
}
.item-service__content {
	padding: 29px 24px;
	display: block;
	width: 100%;
}
.item-service__title {
	margin-bottom: 14px;
	font-size: 24px;
	line-height: 36px;
	text-transform: uppercase;
	font-weight: 500;
	display: block;
	font-family: 'Oswald';
}
.item-service__title {
	display: block;
}
.item-service__text {
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;  
	overflow: hidden;
}
.item-service:hover {
	box-shadow: 0 5px 10px #acaec6;
}
.bottom-button {
	padding-top: 50px;
	text-align: center;
}
.services .bottom-button .btn-main {
	padding: 0 30px;	
}

.cooperation {
	padding: 90px 0;
}
.cooperation .title-section {
	max-width: 1105px;
	margin: 0 auto;
	margin-bottom: 90px;
}
.item-step {
	padding: 30px;
	font-size: 14px;
	line-height: 143%;
	background: #edf2f4;
	color: #2b2d42;
	border-radius: 16px;
	position: relative;
}
.item-step::before {
	position: absolute;
	display: block;
	content: " ";
	width: 30px;
	top: 60px;
	height: 1px;
	left: 100%;
	border-bottom: 2px dashed #8D99AE;
}
.item-step p a {
	color: #2b2d42;
	white-space: nowrap;
}
.item-step strong {
	font-weight: 600;
}
.item-step p {
	margin-top: 19px;
}
.item-step__head {
	display: flex;
	align-items: center;
}
.icon-main {
	width: 60px;
	height: 60px;
	margin-right: 24px;
	border-radius: 50%;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	flex: none;
}
.icon-main img {
	max-width: 100%;
	max-height: 100%;
}
.title-middle {
	font-size: 24px;
	line-height: 36px;
	letter-spacing: 0.03em;
	font-weight: 500;
	font-family: 'Oswald';
	text-transform: uppercase;
}
.item-step .btn-main {
	margin-top: 19px;
	height: 45px;
	padding: 0 30px;
	font-size: 14px;
}
.steps-left {
	margin-right: 47px;
}
.steps-right {
	margin-left: -47px;
}
.steps-right .row > div {
	margin-bottom: 36px;
}
.steps-left .item-step {
	padding-bottom: 23px;
	padding-right: 40px;
}
.steps-right .row > div:nth-child(even) .item-step::before {
	display: none;
}
.item-partner {
	height: 133px;
	border: 1px solid #edf2f4;
	border-radius: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.item-partner img {
	max-width: 100%;
	max-height: 100%;
}
.row_partners {
	padding-top: 60px;
}

.equipment {
	padding-top: 62px;
	padding-bottom: 57px;
	color: #fff;
	background: #8d99ae;
	border-radius: 24px;
	color: #fff;
}
.equipment .title-section {
	margin-bottom: 60px;
	color: #fff;
	text-align: left;
}
.image-equipment {
	height: 504px;
	border-radius: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	background-color: #f1f1f1;
}
.image-equipment img {
	max-width: 100%;
	max-height: 100%;
	border-radius: 24px;
}
.slider-equipment {
	border-radius: 24px;
	color: #2b2d42;
	background-color: #fff;
}
.equipment-images {
	margin-right: -20px;
	border-radius: 24px;
	background-color: #f1f1f1;
	overflow: hidden;
}
.equipment-block {
	border-radius: 24px;
	background: #fff;
	color: #2b2d42;
}
.equipment-block .title-middle {
	padding-top: 33px;
	padding-bottom: 30px;
}
.feature {
	font-size: 14px;
	margin-bottom: 6px;
	line-height: 171%;
	font-weight: 500;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.feature::after {
	flex: 1;
	overflow: hidden;
	content: "............................................................................................................................................................................";
}
.feature span:nth-child(2) {
	order: 2;
	text-align: right;
	font-weight: 400;
}
.equipment-content {
	margin-left: 20px;
	margin-right: 50px;
}
.slider-equipment:not(.slick-initialized) > li:not(:first-child),
.slider-equipment-image:not(.slick-initialized) > li:not(:first-child) {
	display: none;
}
.slick-arrow {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	top: 50%;
	background-color: #EDF2F4;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	transition: all 0.3s;
}
.slick-arrow:hover {
	background-color: #c8d9e0;
}
.slick-prev {
	left: 0;
}
.slick-next {
	right: 0;
}
.slider-portfolio .slick-prev,
.slider-equipment .slick-prev {
	left: -40px;
}
.slider-portfolio .slick-next,
.slider-equipment .slick-next {
	right: -40px;
}
.slick-dots {
	bottom: 0;
	left: 0;
	width: 100%;
}
.slick-dots li {
	width: 16px;
	height: 16px;
	margin: 0 10px;
}
.slick-dots li button {
	width: 16px;
	height: 16px;
	background-color: transparent;
	border-radius: 50%;
	padding: 0;
	border: 3px #2b2d42 solid;
	transition: all 0.3s;
}
.slick-dots li button:hover,
.slick-dots li.slick-active button {
	background-color: #2b2d42;
}
.slider-equipment-image .slick-dots {
	bottom: 36px;
	left: 40px;
	text-align: left;
}
.equipment .bottom-button {
	padding-top: 60px;
}
.equipment .bottom-button .btn-main {
	padding: 0 30px;
}

.application {
	padding-top: 70px;
	padding-bottom: 90px;
}
.application .title-section {
	margin-bottom: 28px;
}
.descr-wrap {
	text-align: center;
}
.descr-main {
	font-size: 32px;
	padding: 18px 30px;
	line-height: 41px;
	border-radius: 40px;
	background: #edf2f4;
	font-weight: 500;
	text-align: center;
	color: #2b2d42;
	display: inline-block;
}
.title-block {
	font-size: 30px;
	line-height: 44px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	font-family: 'Oswald';
	font-weight: 500;
}
.item-application {
	padding: 38px 135px;
	padding-bottom: 43px;
	padding-right: 80px;
	font-size: 18px;
	line-height: 144%;
	background: #edf2f4;
	border-radius: 16px;
	color: #2b2d42;
	position: relative;
	min-height: 100%;
}
.row_application {
	padding-top: 90px;
}
.item-application .icon-main {
	top: 30px;
	left: 30px;
	margin: 0;
	position: absolute;
}
.item-application span {
	font-size: 14px;
	line-height: 143%;
}
.item-application strong {
	font-weight: 600;
}
.item-application ul {
	min-height: 52px;
}
.item-application ul li {
	padding-left: 15px;
	position: relative;
}
.item-application ul li::before {
	position: absolute;
	top: 0;
	left: 0;
	content: "•";
}
.item-application ul {
	margin-bottom: 20px;
}
.item-application .title-block {
	margin-bottom: 19px;
}
.item-application .btn-main {
	margin-top: 26px;
	padding: 0 30px;
	font-size: 14px;
	height: 45px;
}

.questions {
	padding-top: 60px;
	padding-bottom: 80px;
	margin-bottom: -20px;
	background: #edf2f4;
	color: #2b2d42;
}
.questions .title-section {
	margin-bottom: 53px;
}
.item-question__head {
	font-size: 24px;
	padding: 28px 30px;
	padding-right: 23px;
	font-weight: 500;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
}
.item-question__content {
	padding: 39px 30px;
	padding-right: 80px;
	padding-top: 10px;
	display: none;
}
.item-question {
	border-top: 1px solid #2b2d42;
}
.item-question:last-child {
	border-bottom: 1px solid #2b2d42;
}
.item-question__head i {
	font-size: 21px;
	transition: all 0.3s;
}
.item-question.active .item-question__head i {
	transform: rotate(180deg);
}

.consultation {
	padding: 46px 0;
	margin-bottom: 5px;
	border-radius: 24px;
	background: #8d99ae;
}
.consultation__wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.consultation .title-section {
	font-size: 40px; 
	line-height: 59px;
	text-align: left;
}

.footer {
	padding-top: 60px;
	font-size: 14px;
	line-height: 171%;
	color: #fff;
	background: #2b2d42;
	border-radius: 24px;
}
.footer__column {
	padding-top: 57px;
	padding-bottom: 49px;
	min-height: 100%;
	border-right: 1px solid rgba(237, 242, 244, 0.2);
}
.footer__nav {
	font-size: 16px;
	line-height: 212%;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	font-family: 'Oswald';
}
.footer__nav a {
	color: #fff;
}
.footer__nav a:hover {
	color: #ef233c;
}
.footer__location {
	font-size: 16px;
	margin-bottom: 17px;
	font-weight: 500;
	line-height: 225%;
}
.footer .phone-main {
	margin: 0;
	margin-bottom: 7px;
	line-height: 23px;
	display: inline-block;
}
.footer .row > div:last-child .footer__column {
	border: none;
}
.footer p a {
	color: #fff;
}
.footer__mail {
	margin-bottom: 12px;
}
.footer .row > div:first-child  .footer__column {
	padding-top: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.footer__column .btn-social {
	margin-top: auto;
	margin-bottom: 10px;
}
.footer__column .list-socials {
	margin-top: 27px;
}
.footer-bottom {
	padding: 10px 0;
	color: rgba(141, 153, 174, 0.6);
	border-top: 1px solid rgba(125, 132, 140, 0.3);
}
.create {
	display: flex;
	align-items: center;
}
.create a {
	margin-left: 15px;
} 
.footer-bottom a {
	color: rgba(141, 153, 174, 0.6);
}
.footer-bottom a:hover {
	color: rgba(141, 153, 174, 1);
}
.btn_top {
	font-size: 18px;
	float: right;
	position: relative;
	color: #0C3259 !important; 
	width: 40px;
	height: 40px;
	text-align: center;
	display: -webkit-inline-flex;
	display: -moz-inline-flex;
	display: -ms-inline-flex;
	display: -o-inline-flex;
	display: inline-flex !important;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: #fff;
	z-index: 7;
	-webkit-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.btn_top:hover {
	opacity: 0.8;
}
.footer .row > div:nth-child(1) .footer__column {
	margin-right: 40px;
}
.footer .row > div:nth-child(2) .footer__column {
	margin-left: -40px;
}
.footer .row > div:nth-child(3) .footer__column {
	margin-right: -40px;
}
.footer .row > div:nth-child(4) .footer__column {
	margin-left: 40px;
}
.slick-dots li button:before {
	display: none;
}
.btn-tab {
	display: none;
}
.header__logo {
	display: none;
}
/*Style Sandwich*/
.sandwich span {
	display: block;
}
.sandwich {
	width: 33px;
	height: 33px;
	padding-top: 7px;
	background: #ef233c;
	border-radius: 50%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	display: none;
	flex-direction: column;
	align-items:center;
	z-index: 20;
	flex: none;
	cursor: pointer;
}
.sw-topper {
	position: relative;
	top: 4px;
	width: 15px;
	height: 2px;
	border-radius: 4px;
	display: block;
	margin: 0;
	background-color: #fff;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
}
.sw-bottom {
	position: relative;
	top: 7px;
	width: 15px;
	height: 2px;
	border-radius: 4px;
	display: block;
	margin: 0;
	background-color: #fff;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
}
.sw-footer {
	position: relative;
	top: 10px;
	width: 15px;
	height: 2px;
	border-radius: 4px;
	display: block;
	margin: 0;
	background-color: #fff;
	border: medium none;
	transition: transform 0.5s, top 0.2s;
}
.sandwich.active .sw-topper {
	top: 9px;
	transform: rotate(45deg);
}
.sandwich.active .sw-bottom {
	opacity: 0;
}
.sandwich.active .sw-footer {
	top: 5px;
	transform: rotate(-45deg); 
}
.header__wrapper .phone-main i {
	font-size: 0;
}
.sidebar__mobile,
.menu-overlay {
	display: none;
}
.wrapper_page {
	padding-top: 86px;
}
.wrapper_page .sidebar {
	background: #2b2d42;
}
.page-inner {
	margin-bottom: 8px;
	padding-bottom: 60px;
	border-radius: 24px;
	background: #edf2f4;
}
.breadcrumbs {
	padding-top: 28px;
	padding-bottom: 5px;
	font-size: 14px;
	line-height: 143%;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	color: #2b2d42;
}
.breadcrumbs a {
	color: #2b2d42;
	border-bottom: 1px solid transparent;
}
.breadcrumbs a:hover {
	border-color: #2b2d42;
}
.breadcrumbs li::after {
	content: "|";
	margin: 0 14px;
}
.breadcrumbs li:last-child::after {
	display: none;
}
.row_services > div {
	margin-bottom: 34px;
}
.page-inner .title-section {
	margin-bottom: 49px;
}
.consultation-form {
	padding: 58px;
	padding-right: 49px;
	border-radius: 60px;
	min-height: 100%;
	color: #edf2f4;
	background: #8d99ae;
}
.consultation-form__title {
	font-size: 40px;
	line-height: 59px;
	margin-bottom: 50px;
	font-weight: 500;
	text-transform: uppercase;
	color: #2b2d42;
	font-family: 'Oswald';
}
.file-upload label,
.item-form input,
.item-form textarea {
	height: 58px;
	padding: 0 22px;
	font-size: 16px;
	letter-spacing: 0.05em;
	color: #fff;
	backdrop-filter: blur(20px);
	background: rgba(237, 242, 244, 0.3);
	border: 1px solid rgba(237, 242, 244, 0.2);
	border-radius: 14px;
	width: 100%;
	font-family: 'Onest';
	font-weight: 400;
}
.file-upload input {
	width: 0 !important;
	height: 0 !important;
	padding: 0 !important;
	opacity: 0 !important;
}
.file-upload label {
	display: flex;
	align-items: center;
	cursor: pointer;
	transition: all 0.3s;
}
.file-upload label img {
	margin-right: 12px;
}
.file-upload {
	position: relative;
}
.name-upload {
	position: absolute;
	top: 100%;
	left: 0;
	margin-top: 2px;
	font-size: 12px;
	line-height: 15px;
}
.file-upload {
	margin-bottom: 16px;
}
.consultation-form .item-form {
	margin-bottom: 22px;
}
.consultation-form .btn-main {
	height: 58px;
	width: 100%;
	padding: 0 10px;
}
.consultation-form .row {
	margin: 0 -8px;
}
.consultation-form .row > div {
	padding: 0 4px;
}
.checkbox {
	font-size: 12px;
	line-height: 17px;
	margin-top: 10px;
	color: #edf2f4;
	font-weight: 400;
	letter-spacing: normal;
	display: flex;
	text-align: left;
}
.checkbox label input {
	position: absolute;
	z-index: -1;
	height: 1px !important;
	width: 1px !important;
	opacity: 0 !important;
	margin: 12px 2px 0 7px !important;
}
.checkbox label > span {
	position: relative;
	padding: 4px 0 0 32px;
	display: block;
	cursor: pointer;
}
.checkbox label > span:before {
	content: '';
	position: absolute;
	top: 2px;
	left: 0;
	width: 19px;
	height: 19px;
	border: 1px solid #edf2f4;
	transition: .2s;
}
.checkbox label > span:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 0px;
	width: 19px;
	height: 19px;
	content: "\f00c";
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
	justify-content: center;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	line-height: 1;
	font-family: "Font Awesome 5 Pro";
	font-weight: 500;
	background-image: none;
	color: #edf2f4;
	font-size: 11px;
	opacity: 0;
	transition: .2s;
}
.checkbox label input:checked + span:after {
	opacity: 1;
}

.billbord.billbord_service {
	margin-left: 0px;
	padding-left: 0;
	background-image: url(../img/billbord_service1.jpg);
	position: relative;
	z-index: 1;
	border-radius: 0 0 24px 24px;
}
.billbord_service::after {
	position: absolute;
	display: block;
	content: " ";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
	z-index: -1;
	border-radius: 0 0 24px 24px;
}
.wrapper_service .sidebar {
	background: #2b2d42;
}
.wrapper_service .header {
	margin-left: 5px;
	border-radius: 0 0 24px 24px;
}
.billbord .breadcrumbs {
	padding: 0;
	padding-top: 15px;
	color: #fff;
}
.billbord .breadcrumbs a {
	color: #fff;
}
.billbord .breadcrumbs a:hover {
	border-color: #fff;
}
.descr-title {
	font-size: 20px;
	line-height: 140%;
	font-weight: 500;
}
.billbord_service .title-big {
	margin-bottom: 43px;
}
.billbord_service .descr-title {
	max-width: 498px;
}
.billbord__form {
	width: 735px;
	max-width: 100%;
	margin: auto 0;
}
.billbord__form .row {
	margin: 0 -6px;
}
.billbord__form .row > div {
	padding: 0 6px;
}
.billbord__form .btn-main {
	height: 58px;
	min-width: 191px;
}
.billbord_service .checkbox {
	max-width: 260px;
}
.page-service {
	padding: 70px 0;
}
.page-service .title-section {
	padding-bottom: 60px;
}
.text-columns {
	font-size: 18px;
	line-height: 156%;
	column-gap: 30px;
	columns: 2;
}
.calculation-block {
	font-size: 14px;
	padding: 35px 48px;
	margin-top: 84px;
	line-height: 157%;
	font-weight: 500;
	color: #2b2d42;
	background: #8d99ae;
	border-radius: 24px;
}
.calculation-block .title-block {
	margin-bottom: 35px;
}
.table-page table {
	width: 100%;
	border-spacing: 0;
	background-color: #fff;
}
.table-page table th,
.table-page table td {
	font-size: 16px;
	padding: 13px 22px;
	border-left: 1px solid #8d99ae;
	border-bottom: 1px solid #8d99ae;
	line-height: 150%;
	text-align: left;
	background: #fff;
}
.table-page table th {
	padding-top: 15px;
	padding-bottom: 15px;
	border-top: 1px solid #8d99ae;
	background: rgba(141, 153, 174, 0.2);
	font-weight: 500;
}
.table-page table th:last-child,
.table-page table td:last-child {
	border-right: 1px solid #8d99ae;
}
.table-page table tr:nth-child(odd) td {
	background: rgba(141, 153, 174, 0.2);
}
.descr-table {
	margin-top: 7px;
}
.title-block.title-block_info {
	padding-left: 104px;
	margin-bottom: 50px;
	position: relative;
}
.title-block.title-block_info::before {
	position: absolute;
	display: block;
	content: " ";
	width: 64px;
	height: 74px;
	top: -35px;
	left: 0;
	background-image: url(../img/badge_info.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.info-text {
	padding: 27px 19px;
	padding-bottom: 30px;
	background: #fff;
	border-radius: 0 24px 24px 24px;
	position: relative;
}
.info-text::before {
	position: absolute;
	display: block;
	content: " ";
	bottom: 100%;
	left: 0;
	margin-bottom: -1px;
	width: 21px;
	height: 17px;
	background-image: url(../img/before_info.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.info-text li {
	padding-left: 15px;
	position: relative;
}
.info-text li::before {
	position: absolute;
	top: 0;
	left: 0;
	content: "•";
}
.calculation-block__left {
	margin-right: -30px;
}
.calculation-block__right {
	margin-left: 30px;
}
.calculation-block__bottom {
	padding-top: 35px;
}
.calculation-block__bottom .title-block {
	margin: 0;
	margin-top: 5px;
}
.calculation-block__bottom .row {
	margin: 0 -6px;
}
.calculation-block__bottom .row > div {
	padding: 0 6px;
}
.calculation-block__bottom .btn-main {
	height: 58px;
	min-width: 190px;
}
.details-block {
	padding: 46px;
	background: #edf2f4;
	border-radius: 24px;
	color: #2b2d42;
}
.text-page {
	font-size: 18px;
	line-height: 156%;
}
.text-page strong {
	font-weight: 600;
}
.details-block .text-page {
	margin-top: 43px;
	max-width: 545px;
}
.page-service .details-block {
	margin-top: 70px;
}
.item-material {
	padding: 16px;
	background: #fff;
	border-radius: 24px;
	line-height: 162%;
	min-height: 100%;
	display: block;
	color: #2b2d42;
}
.item-material:hover {
	box-shadow: 0 5px 10px #acaec6;
}
.item-material__image {
	height: 162px;
	margin-bottom: 34px;
	border-radius: 16px;
	width: 100%;
	display: block;
}
.item-material__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	border-radius: 16px;
}
.item-material .title-block {
	margin-bottom: 7px;
	display: block;
}
.item-material span {
	display: block;
}
.details-block__right > .title-block {
	margin-bottom: 50px;
}
.details-block__right .row {
	margin: 0 -20px;
}
.details-block__right .row > div {
	padding: 0 20px;
}
.details-block__right {
	margin-left: 54px;
}
.portfolio {
	padding-top: 66px;
	padding-bottom: 83px;
	margin: 70px 0;
	border-radius: 24px;
	background: #edf2f4;
}
.portfolio .title-section {
	margin-bottom: 72px;
	text-align: left;
}
.slider-portfolio__item {
	height: 600px;
	width: 100%;
	display: block;
	border-radius: 24px;
}
.slider-portfolio__item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	border-radius: 24px;
}
.slider-portfolio .slick-arrow {
	background-color: #fff;
}
.calculation-block__bottom .checkbox {
	margin-top: 0;
}
#map {
	height: 600px;
	margin-left: -125px;
	border-radius: 24px;
	background-color: #eee;
	overflow: hidden;
}
.contacts-block__left {
	padding: 38px 35px;
	padding-bottom: 42px;
	margin-right: 47px;
	font-size: 18px;
	line-height: 156%;
	color: #2b2d42;
	position: relative;
	z-index: 2;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	border-radius: 24px;
	background: #fff;
}
.contacts-block__left strong {
	font-weight: 600;
}
.contacts-block__left p a {
	color: #2b2d42;
}
.contacts-block__left .list-socials {
	margin-top: auto;
}
#map .ymaps-2-1-79-map-copyrights-promo {
	left: 45px;
}
.unit-equipment .image-equipment {
	background: #8d99ae;
}
.unit-equipment .text-page {
	margin-top: 34px;
}
.unit-equipment {
	margin-bottom: 56px;
}
.unit-equipment:last-child {
	margin-bottom: 0;
}
.block-review {
	padding: 27px 40px;
	font-size: 20px;
	margin-bottom: 20px;
	line-height: 140%;
	font-weight: 500;
	border-radius: 24px;
	display: flex;
	color: #2b2d42;
	background: #8d99ae;
	align-items: center;
	justify-content: space-between;
	background: #8d99ae;
}
.block-review__head {
	margin-bottom: 15px;
	font-weight: 500;
	display: flex;
	align-items: center;
}
.block-review__head img {
	margin-right: 9px;
}
.rating-wrap {
	display: flex;
	align-items: center;
}
.title-rating {
	margin-bottom: 8px;
}
.rating {
	display: flex;
	align-items: center;
}
.rating {
	display: flex;
	align-items: center;
}
.rating__item {
	font-size: 20px;
	color: #2B2D42;
	transition: all 0.3s;
	opacity: 0.4;
	margin-right: 3px;
}
.rating_1 > .rating__item:nth-child(1) {
	opacity: 1;
}
.rating_2 > .rating__item:nth-child(-n+2) {
	opacity: 1;
}
.rating_3 > .rating__item:nth-child(-n+3) {
	opacity: 1;
}
.rating_4 > .rating__item:nth-child(-n+4) {
	opacity: 1;
}
.rating_5 > .rating__item:nth-child(-n+5) {
	opacity: 1;
}
.rating__item.active {
	opacity: 1;
}
.descr-rating {
	font-size: 14px;
	margin-left: 20px;
	font-weight: 400;
	letter-spacing: 0.03em;
}
.title-rating {
	font-weight: 300;
}
.image-review img {
	max-width: 100%;
	height: auto;
}
.reviews-block {
	margin-bottom: 56px;
	padding: 24px;
	background: #fff;
	border-radius: 24px;
}
.reviews-block .row > div {
	margin-bottom: 43px;
}
.reviews-block .row {
	margin-bottom: -43px;
}
.item-video {
	padding: 19px 27px;
	padding-right: 110px;
	height: 310px;
	font-size: 16px;
	color: #fff;
	font-weight: 500;
	position: relative;
	z-index: 1;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-end;
}
.item-video__image {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 20px;
	z-index: -1;
	overflow: hidden;
	position: absolute;
}
.item-video__image::after {
	position: absolute;
	display: block;
	content: " ";
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border-radius: 20px;
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #2b2d42 100%);
}
.item-video:hover::after {
	transform: scale(1.1);
}
.item-video__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	border-radius: 20px;
	transition: all 0.7s;
}
.item-video::after {
	position: absolute;
	display: block;
	content: " ";
	width: 90px;
	height: 90px;
	bottom: 16px;
	right: 16px;
	border-radius: 50%;
	background-image: url(../img/play2.svg);
	background-repeat: no-repeat;
	background-position: center;
	transition: all 0.7s;
	background-size: cover;
}
.item-sertificat {
	height: 388px;
	padding: 12px;
	border-radius: 20px;
	background: #fff;
	display: block;
}
.item-sertificat img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	border-radius: 20px;
}
.item-sertificat:hover {
	box-shadow: 0 5px 15px #231c4b4f;
}
.row_reviews > div {
	margin-bottom: 30px;
}
.row_reviews + .title-section {
	padding-top: 40px;
}
.row_news > div {
	margin-bottom: 34px;
}
.item-news {
	font-size: 14px;
	line-height: 160%;
	color: #141414;
	display: block;
	border-radius: 20px;
	background: #fff;
	min-height: 100%;
	transition: all 0.5s;
}
.item-news__image {
	height: 234px;
	border-radius: 20px;
	width: 100%;
	display: block;
}
.item-news__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	font-family: 'object-fit: cover;';
	border-radius: 20px;
}
.item-news__content {
	padding: 17px 20px;
	padding-bottom: 23px;
	display: block;
}
.item-news__date {
	margin-bottom: 7px;
	display: block;
}
.item-news__title {
	font-size: 18px;
	margin-bottom: 13px;
	line-height: 140%;
	font-weight: 600;
	display: block;
}
.item-news__text {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;  
	overflow: hidden;
}
.item-news:hover {
	box-shadow: 0 5px 10px #acaec6;
}
.pager {
	margin-top: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
.page-numbers {
	width: 46px;
	height: 46px;
	border: 1px solid rgba(141, 153, 174, 0.4);
	background-color: #fff;
	margin: 0 4px;
	color: #2b2d42;
	font-weight: 500;
	font-weight: 500;
	color: #363636;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	font-family: 'Oswald';
	border-radius: 50%;
}
.page-numbers.current,
.page-numbers:hover {
	background: #2b2d42;
	color: #fff;
}
.prev.page-numbers,
.next.page-numbers {
	padding: 0 24px;
	width: auto;
	border-radius: 40px;
	cursor: pointer;
	margin: 0;
	transition: all 0.3s;
	background: rgba(141, 153, 174, 0.3);
	display: flex;
	align-items: center;
	justify-content: center;
}
.prev.page-numbers i,
.next.page-numbers i {
	font-size: 17px;
}
.prev.page-numbers i {
	margin-right: 15px;
}
.next.page-numbers i {
	margin-left: 15px;
}
.prev.page-numbers {
	margin-right: 24px;
}
.next.page-numbers {
	margin-left: 24px;
}
.pager .page-numbers.disabled {
	background: #fff;
}
.prev.page-numbers:hover,
.next.page-numbers:hover {
	background: #2b2d42;
	color: #fff;
}
.page-article {
	padding-bottom: 90px;
}
.page-article .breadcrumbs {
	padding-bottom: 39px;
	margin: 0 !important;
}
.page-article .breadcrumbs li {
	padding: 0 !important;
}
.page-article .breadcrumbs li::before {
	display: none;
}
.article-date {
	font-size: 14px;
	margin-bottom: 26px;
	text-align: center;
	line-height: 160%;
}
.page-article .title-section {
	margin-bottom: 17px;
}
.page-article img {
	border-radius: 24px;
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
}
.nav-article {
	padding: 39px 0;
	margin-bottom: 35px;
	border-bottom: 1px solid #edf2f4;
}
.page-article h2 {
	font-size: 32px;
	line-height: 46px;
	margin-bottom: 40px;
	font-weight: 500;
	font-family: 'Oswald';
	text-transform: uppercase;
	color: #2b2d42;
}
.page-article ul li {
	padding-left: 15px;
	position: relative;
}
.page-article ul li::before {
	position: absolute;
	top: 0;
	left: 0;
	content: "•";
}
.nav-article ul {
	font-size: 18px;
	line-height: 160%;
	font-weight: 600;
}
.nav-article ul li a {
	color: #141414;
	border-bottom: 1px transparent solid;
}
.nav-article ul li a:hover {
	border-color: #141414;
}
.page-article p {
	margin-bottom: 15px;
}
.page-article ul {
	margin-bottom: 30px;
}
.page-article .nav-article  ul {
	margin-bottom: 0;
}
.info-article {
	font-size: 20px;
	padding: 59px 134px;
	padding-bottom: 53px;
	padding-right: 115px;
	margin: 80px 0;
	line-height: 160%;
	font-weight: 600;
	color: #fff;
	position: relative;
	background: #8d99ae;
	border-radius: 24px;
}
.info-article p {
	margin: 0;
}
.info-article::before {
	position: absolute;
	display: block;
	content: " ";
	width: 52px;
	height: 60px;
	top: -3px;
	left: 52px;
	background-image: url(../img/badge_info.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}